@import './resets.css';

body {
    background-color: #DDD;
    font-family: sans-serif;
}

main {
    height: 100%;
    padding: 0.5em 1em 0 1em;
}

h1 {
    color: #888;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
    text-transform: uppercase;
}

.image-selection {
    background-color: #FFF;
    border-radius: 0.5em;
    border: 1px solid #AAA;
    box-shadow: 2px 2px 4px #AAA;
    height: 25%;
    margin-bottom: 0.5em;
    position: relative;
}

#images {
    height: calc(100% - 2.2em);
    border-bottom: 1px solid #aaa;
    overflow: auto;
    white-space: nowrap;
    border-radius: 0.5em 0.5em 0 0;
}

img {
    height: 95%;
    padding-right: 2px;
}

#banner {
    position: absolute;
    margin: 2em;
    width: auto;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px;
    height: 2.2em;
}

.data-entry {
    background-color: #FFF;
    border-radius: 0.5em;
    border: 1px solid #AAA;
    box-shadow: 2px 2px 4px #AAA;
    height: calc(75% - 6.5em - 6px);
    padding: 0.5em;
}

.data-submit {
    height: 4em;
    padding: 0.5em;
}

#send {
    border: none;
    background-color: #DDD;
    background-image: url("checkmark.png");
    background-size: contain;
    border-radius: 1.5em;
    margin-left: calc(50% - 1.5em);
    height: 3em;
    width: 3em;
}

#send:active {
    border: 1px solid orange;
    background-color: gray;
}

.form {
    overflow: auto;
    height: 100%;
}

.disabled {
    background-color: #ccc;
}
 
.hide {
    display: none;
}

.selected {
    opacity: 0.5;
}

input[type=file] {
    display: none;
}
