.button {
    width: 32px;
    height: 32px;

    display: inline-block;
    vertical-align: bottom;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.button:hover {
    box-shadow: 0px 2px 2px #444;
    background-color: #2979FF;
}

.button:active, div.button:focus {
    background-color: #2979FF;
    box-shadow: 0px 2px 4px #444;
    opacity: 0.8;
}

.button#add {
    background-image: url('../images/ic_add_black_24px.svg');
}

.button#delete {
    background-image: url('../images/ic_delete_black_24px.svg');
}

.button#remove {
    background-image: url('../images/ic_clear_black_24px.svg');
}

.button#send {
    background-image: url('../images/ic_check_black_24px.svg');
}

.button#login {
    background-image: url('../images/ic_account_circle_black_24px.svg');
}

.button#prev {
    background-image: url('../images/ic_arrow_back_black_24px.svg');
}

.button#next {
    background-image: url('../images/ic_arrow_forward_black_24px.svg');
}

.button#delete {
    background-image: url('../images/ic_delete_black_24px.svg');
}

.button#add_photo {
    background-image: url('../images/ic_add_a_photo_black_48px.svg');
    background-size: 48px;
    width: 100px;
    height: 100px;
    padding: 3px;
}
