@require './variables.styl';

#login_dialog {
    position: absolute;
    top: $bar-height;
    right: 0;
    z-index: 1;
    border: 1px solid #AAA;
}

#login_form {
    padding: 20px;
    background-color: #2979FF;
    font-family: arial, helvetica;
}
