@require './variables.styl';

#login_dialog {
    position: absolute;
    top: $bar-height;
    bottom: $bar-height;
    width: 100%;
    background-color: rgba(100,100,100,0.87);
    z-index: 1;
}

#login_form {
    position: absolute;
    right: 0;
    border: 1px solid #AAA;
    padding: 20px;
    background-color: #2979FF;
    font-family: arial, helvetica;
}
