@import './resets.css';
@import './form-navigator.css';

body {
    font-family: sans-serif;
    position: relative;
}

header, footer {
    position: absolute;
    height: 49px;
    width:100%;
    padding: 8px;
    background-color: #FFC107;
    opacity: 0.87;
}

header {
    top: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
}

footer {
    bottom: 0;
    width: 100%;
    border-top: 1px solid #AAA;
}

main {
    position: absolute;
    overflow-y: auto;
    top: 49px;
    bottom: 49px;
    width: 100%;
}

.section_title {
    padding: 2px 8px;
    background-color: #2979FF;
    height: 32px;
    border-bottom: 1px solid #AAA;
    opacity: 0.72;
    font-size: 20px;
    font-family: arial, helvetica;
    opacity: 0.5;
}

.section_content {
}

h1 {
    color: #888;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
    text-transform: uppercase;
}

img {
    padding: 3px;
    height: 100px;
}

.disabled {
    opacity: 0.26;
}

.collapsed {
    opacity: 0.87;
}

.hide {
    display: none;
}

.selected {
    opacity: 0.5;
}

input[type=file] {
    display: none;
}
