@import './resets.css';
@import './form-navigator.css';

body {
    font-family: sans-serif;
    position: relative;
}

header, footer {
    position: absolute;
    height: 49px;
    width:100%;
    padding: 8px;
    background-color: #FFC107;
    opacity: 0.87;
}

header {
    top: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
}

footer {
    bottom: 0;
    width: 100%;
    border-top: 1px solid #AAA;
}

main {
    position: absolute;
    overflow-y: auto;
    top: 49px;
    bottom: 49px;
    width: 100%;
}


#login_dialog {
    font-family: arial, helvetica;
    position: fixed;
    top: 49px;
    bottom: 49px;
    width: 100%;
    background-color: rgba(100,100,100,0.87);
    z-index: 1;
}

#login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #AAA;
    padding: 30px;
    background-color: #15A;
}


.section_title {
    padding: 2px 8px;
    background-color: #2979FF;
    height: 32px;
    border-bottom: 1px solid #AAA;
    opacity: 0.72;
    font-size: 20px;
    font-family: arial, helvetica;
    opacity: 0.5;
}

.section_content {
    padding: 4px;
}

img {
    padding: 3px;
    height: 100px;
}

.disabled {
    opacity: 0.26;
}

.collapsed {
    opacity: 0.87;
}

.hide {
    display: none;
}

.selected {
    opacity: 0.5;
}

input[type=file] {
    display: none;
}
