@import './resets.css';
@import './form-navigator.css';

body {
    background-color: #FFF;
    font-family: sans-serif;
}

main {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
}

h1 {
    color: #888;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5em;
    text-transform: uppercase;
}

.buttons, #navigation > div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0.5em;
    transform: translate(0%, -50%);
}

.image-selection {
    background-color: #FFF;
    border-top: 1px solid #AAA;
    height: 25%;
    margin-bottom: 0.5em;
    overflow: auto;
    white-space: nowrap;
    position: relative;
}

#images {
    height: 98%;
    width: 100%;
    position: absolute;
}

img {
    height: 100%;
    padding-right: 2px;
}

img:last-child {
    padding-right: 0;
}

.data-entry {
    background-color: #FFF;
    border-top: 1px solid #AAA;
    height: auto;
    padding: 0.5em;
}

#navigation, .data-submit {
    background-color: #FFF;
    border: 1px solid #AAA;
    height: 4em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
}

.disabled {
    background-color: #ccc;
}

.hide {
    display: none;
}

.selected {
    opacity: 0.5;
}

input[type=file] {
    display: none;
}
